table {
    width: 50%;
    height: 125%;
    background-color: rgb(190, 222, 124);
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

